<html>

<body>
    <h1>New Appointment Scheduled</h1>
    <p>Branch: <%= branch.name %></p>
    <p>Service: <%= service.name %></p>
    <p>Practitioner: <%= practitioner.firstName %> <%= practitioner.lastName %></p>
    <p>Room: <%= room.name %></p>
    <p>Patient: <%= patient.firstName %> <%= patient.lastName %></p>
</body>

</html>